/* exemple1 ::  */

/* body {
    margin: 0px;
    padding: 0px;
}
*{
    color: white;
    text-align: center;
}

header {
    background-color: blue;
    
   
    padding: 20px;
}

.sidebar{
 background-color: plum;
 width: 30%;
 height: 600px;
float: left;
}

.main{
    background-color: brown;
    width: 70%;
    height: 700px;
    float: right;
}

footer {
    background-color: green;
    color: white;
    text-align: center;
    padding: 20px;
    clear: both;
} */
/* 
/////////////////////////////////////////////// */

/* exemple2 ::  */

/* body {
    margin: 0px;
    padding: 0px;
}

.container{
    border-width: 5px 5px 5px 10px;
    border-style: solid;
    border-color: gray;
    overflow: hidden;
}
img {
    height: 200px;
   float: left;
   margin-right: 50px;
} */


/* exemple3 :::  */

body {
    margin: 0px;
    padding: 0px;
}
section {
    border: solid 5px ;
    overflow: auto;
    height: 100px;
}

.box-1{
    background-color: blue;
    color: white;
    padding: 20px;
    width: 50%;
    margin-bottom: 10px;
    float: left;
}

.box-2{
    background-color: rgb(81, 255, 0);
    color: white;
    padding: 20px;
    width: 50%;
    height: 200px;
    float: right;
}